body {
  background: rgb(38, 70, 83);
  background: linear-gradient(
    90deg,
    rgba(38, 70, 83, 1) 0%,
    rgba(42, 157, 143, 1) 100%
  );
}

.site-layout-content {
  min-width: 900px;
  padding: 24px;
  min-height: 85vh;
  display: flex;
}

.container {
  padding: 1em 2em;
  margin: 0 auto;
}

.list-item {
  width: 50%;
  min-height: 50%;
  padding: 1em 2em;
  background: #f3f3f3;
}

.control {
  width: 30%;
  height: 5em;
  padding: 1em 2em;
  background: #f3f3f3;
  margin-left: 2em;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container input{
  width: 100%;
}
.form-container button{
  width: 100%;
}

.random-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: background-color 500ms ease-in;
  user-select: none;
}

.random-item:hover {
  background-color: rgb(238, 238, 238);
}

.anticon-delete {
  cursor: pointer;
}

.item {
  color: white;
}

.item-box {
  text-align: center;
  background: rgb(244, 162, 97);
  background: linear-gradient(
    180deg,
    rgba(244, 162, 97, 1) 0%,
    rgba(231, 111, 81, 1) 100%
  );
  margin: 0.5em 0.25em;
  padding: 0.5em 0.25em;
}

.item .item-index {
  padding: 0.5em;
}

.item .item-description {
  width: 100%;
}

.item .item-delete {
  display: none;
}

.input-text {
  padding: 0;
  border: none;
  outline: none;
}

.btn {
  padding: 0.5em 1em;
  border: none;
  outline: none;
  background: #2FB1A2;
}